{
  "branches": ["+([0-9])?(.{+([0-9]),x}).x", "main", "next", "next-major", {"name": "beta", "prerelease": true}, {"name": "alpha", "prerelease": true}],
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "preset": "conventionalcommits",
      "releaseRules": [
        { "type": "chore", "release": "patch" }
      ]
    }],
    ["@semantic-release/release-notes-generator", {
      "preset": "conventionalcommits",
      "presetConfig": {
        "types": [
          { "type": "feat", "section": "Features" },
          { "type": "fix", "section": "Bug Fixes" },
          { "type": "chore", "section": "Chore" },
          { "type": "docs", "section": "Documentations" },
          { "type": "style", "hidden": true },
          { "type": "refactor", "section": "Refactor" },
          { "type": "perf", "section": "Performances" },
          { "type": "test", "section": "Tests" }
        ]
      }
    }],
    "@semantic-release/changelog",
    "@semantic-release/npm",
    ["@semantic-release/git", {
      "message": "chore(release): ${nextRelease.version}"
    }],
    "@semantic-release/github"
  ]
}
